DEVELOPMENT_TEAM = EU74F4WL9R

PRODUCT_NAME = ReadySet

PRODUCT_BUNDLE_IDENTIFIER = ny.ReadySet

MARKETING_VERSION = 0.0.0

CURRENT_PROJECT_VERSION = 0

DEVELOPER_ACCOUNT_PAID = YES

CODE_SIGN_IDENTITY_IOS = Apple Development

CODE_SIGN_IDENTITY_TVOS = Apple Development

CODE_SIGN_IDENTITY_MAC = Apple Development

PROVISIONING_PROFILE_SPECIFIER_MAC = 84486942-2024-8888-4444-694208448001
